<div class="text-center bg-dark py-5 rounded-4 text-white">
    <h1>Quiz App Homepage</h1>
</div>
<br>
<div class="fs-5 text-center bg-color py-5 rounded-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio iusto, maiores quibusdam velit voluptates non officia vero suscipit dignissimos incidunt modi fuga in ipsa quo sequi consequuntur, et sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minus adipisci nesciunt quidem beatae optio quibusdam autem accusamus enim eum ratione, veniam sint et, nostrum magnam at labore architecto. Excepturi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minus adipisci nesciunt quidem beatae optio quibusdam autem accusamus enim eum ratione, veniam sint et, nostrum magnam at labore architecto. Excepturi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minus adipisci nesciunt quidem beatae optio quibusdam autem accusamus enim eum ratione, veniam sint et, nostrum magnam at labore architecto. Excepturi.</p>
</div>